<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav> <!-- these nav links more clearly communicate the purpose of the navigation links below. Or,these nav links are optional/unnecessary. -->
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log in", '#'%></li>
          </ul>
        </nav>
    </div>
</header>



<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
       <%= link_to "sample app", '#', id: "logo"%> <!-- the 'id: "logo"' is a hash : id: is a symbol and also a key, logo is a value. This is optional.
      <nav> these nav links more clearly communicate the purpose of the navigation links below. Or,these nav links are optional/unnecessary.
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", '#'%></li>
          <li><%= link_to "Help", '#'%></li>
          <li><%= link_to "Log in", '#'%></li>
        </ul>
      </nav>
  </div>
</header> -->
